@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    
    font-size: large;
} 

::-webkit-scrollbar{
    width: 16px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(86, 0, 156));
    border-radius: 6px;
}

.building{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    font-size: xx-large;
    font-weight: 600;
}

.building>figure>img{
    width: 400px;
    height: 400px;
}
