
figure{
    cursor: pointer;
}

figcaption{
    opacity: 0;
    background: linear-gradient(transparent, black);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    padding: 25% 5% 5% 5%;
    transition: all 0.4s ease 0s;
}
figure:hover figcaption{
    opacity: 1;
    font-size: x-large;
    transition: opacity 800ms ease-in-out, font-size 600ms ease-out;
}

/* _________ */
/*  HOME  */
/* ________ */

.home{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
    .home figure{
        position: relative;
        display: inline-block;

    }
        .home img{
            display: flex;
            
            justify-content: center;
            width: 600px;
            height: 400px;
            box-shadow: -20px 10px 25px 2px rgba(86, 0, 156, 0.205);
        }

    .texto{
        display: flex;
        flex-flow: column wrap;
        width: 40%;
        align-content: center;
        justify-content: center;

        font-size: x-large;

    }  
        .texto hr{
            transform: rotate(90deg) translateY(6.5em) translateX(3.5em);
        }
        h3{
            font-size: xx-large;
        }
        .create{
            animation: create1 8s infinite;
            font-size: 1.5em;
        }
        @keyframes create1 {
            0%{
                color: rgb(124, 23, 124);
            }
            20%{
                color: rgb(27, 60, 167);
            }
            40%{
                color:  rgb(30, 158, 180);
            }
            60%{
                color: rgb(33, 197, 101);
            }
            80%{
                color: rgb(216, 204, 35);
            }
            100%{
                color: rgb(216, 35, 207);
            }
        }

/* _________ */
/*    XP     */
/* ________ */

.experience{
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
    .portfolios{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 70%;
    }
    .portfolios>span{
        margin-bottom: 5%;
        text-align: center;
        letter-spacing: .2em;
    }
    .wrapper{
        display: grid;
        width: 80%;
        grid-row: auto;
        gap: 1em;
        font-size: 1.3em;
        height: 70%;
    }
        .wrapper>.card1{
            
            background: url("./../media/sisFactu.jpg");
            height: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;

        }
        .blur{
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: rgba(187, 187, 187, 0.301);
            /* filter: blur(1px); */
            transition: 0.5s;
        }
            .wrapper>.card1 a, .wrapper>.card2 a, .wrapper>.card3 a{
                color: whitesmoke;
                padding: 0 5px 0 5px;
                background: linear-gradient(217deg, transparent, rgba(85,0,155,.8) 70.71%),
                linear-gradient(127deg, transparent, rgba(65, 19, 194, 0.8) 70.71%),
                linear-gradient(336deg, transparent,rgba(15, 108, 161, 0.8) 70.71%);
                font-weight: 500;
                align-self: center;
                transition: .5s;
                width: 100%;
                text-align: center;
            }
            .wrapper>.card1>.blur:hover, .wrapper>.card2>.blur:hover, .wrapper>.card3>.blur:hover{
                background-color: rgba(255, 255, 255, 0.356);
                filter: blur(0px);
                font-size: 1.1em;
                transition: background-color 400ms ease-in, filter 400ms ease-in, font-size 400ms ease-in;

            }
            .wrapper>.card1>.blur>a:hover, .wrapper>.card2>.blur>a:hover, .wrapper>.card3>.blur>a:hover{
                background-color: transparent;
                text-decoration: underline;
                transition : background-color .5s ease-in-out;
            }
        .wrapper>.card2{
            background: url("./../media/creative.jpg");
            height: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;
        }

        .wrapper>.card3{
            background: url("./../media/5mentarios.jpg");
            height: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;
        }


    .experience>figure{
        position: relative;
        display: inline-block;
    }
        .experience>figure>img{
            display: flex;
            align-content: flex-end;
            justify-content: center;
            width: 600px;
            height: 400px;
            box-shadow: -20px 10px 25px 2px rgba(86, 0, 156, 0.205);
            

        }
/* _________ */
/*  CONTACT  */
/* ________ */

.contact{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;

}
    .contact>figure{
        position: relative;
        display: inline-block;
    }
        .contact>figure>img{
            display: flex;
            align-content: flex-end;
            justify-content: center;
            width: 600px;
            height: 400px;
            box-shadow: -20px 10px 25px 2px rgba(86, 0, 156, 0.116);

        }
    .contact>.card{
        display: flex;
        width:40%;
        flex-flow:column wrap;
        /* align-content: center; */
        justify-content: center;
    }
        .contact p{
            display: flex;
            justify-content: flex-start;
            font-size: x-large;
            padding-left: 5%;
        }

        .contact ul{
            display: flex;
            flex-flow: column wrap;
            padding: 10px;
            align-content: space-around;
            justify-content: space-around;
            font-size: 1.5em;
        }
            .contact ul li a{
                margin: 20px 20px 5px 20px;
                padding-bottom: 10px;
                transition: 0.8s;
            }
            #linkedin:hover,#twitter:hover,#email:hover{
                color: rgb(86, 0, 156);
                font-size: 1.2em;
                
                transition: color 350ms ease-in, font-size 0.8s ease;
            }

/* _________ */
/*  MEDIAQUERYS  */
/* ________ */

@media (max-width: 1450px) {
    .home img, .experience>figure>img, .contact>figure>img{
        display: flex;
        /* align-content: flex-end; */
        justify-content: center;
        width: 450px;
        height: 300px;

        border-radius: 1%;
        box-shadow: -20px 10px 25px 2px rgba(86, 0, 156, 0.116);
    }
}

@media (max-width: 1080px) {
    .experience>.wrapper{
        text-align: center;
    }
    .home img, .experience>figure>img, .contact>figure>img{
        display: flex;
        justify-content: center;
        height: 300px;
        border-radius: 1%;
        box-shadow: -20px 10px 25px 2px rgba(86, 0, 156, 0.116);
    }
}
@media (max-width: 970px) {
    .home>.texto>hr, .home>.textoES>hr{
        display: none;
    }
    .home img, .experience>figure>img, .contact>figure>img{
        width: 68vw;
        height: 250px;
    }
    .home, .experience, .contact{
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .experience>figure{
        display: none;
    }
    .experience>.wrapper{
        width: 70vw;
        text-align: center;

    }
    .portfolios{
        height: 80%;
        width: 100%;
        align-content: center;
        justify-content: center;
    }
}

@media (max-width: 700px) {

    .home>.texto,.contact>.card{
        width: 70%;
    }
    .home img, .experience>figure>img, .contact>figure>img{
        width: 68vw;
        height: 180px;
    }
    .wrapper{
        display: grid;
        width: 80%;
        height: 80%;
        gap: 1em;
    }
}